<?php
namespace App\DataFixtures;
use Doctrine\Bundle\FixturesBundle\Fixture;
use Doctrine\Common\DataFixtures\AbstractFixture;
use Doctrine\Persistence\ObjectManager;
use App\Entity\User;

class UserFixtures  extends Fixture{
    public function load(ObjectManager $manager): void{
        for ( $i = 0; $i < 10; $i++ ){
            $user = new User();
            $user->setEmail("corentin.legall@gmail.com".$i);
            $user->setPassword("@1@2@3");
            $manager->persist($user);
        }
        $manager->flush();
    }
}

?>