{% extends 'admin/base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}
<h1>Administration</h1>
<p>Bienvenue dans l'interface d'administration de Ceramique</p>
{% endblock %}
