<form method="post" action="{{ path('matiere_premiere.delete', {'id': doctrine_matiere_premiere.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ doctrine_matiere_premiere.id) }}">
    <button class="btn">Delete</button>
</form>
