{% extends 'base.html.twig' %}

{% block title %}Ajouter une matière première{% endblock %}

{% block body %}
    <h1>Ajouter une matière première</h1>

{{ form_start(form) }}
<div class="d-flex">
    {{ form_row(form.nom) }}
     {{ form_row(form.formule) }}
</div>
{{ form_end(form) }}
{% endblock %}
